pkgbase = lgogdownloader
	pkgdesc = Open source downloader for GOG.com games, uses the GOG.com API
	pkgver = 3.19
	pkgrel = 1
	url = https://github.com/Sude-/lgogdownloader
	arch = x86_64
	arch = i686
	arch = pentium4
	license = WTFPL
	makedepends = help2man
	makedepends = cmake
	makedepends = boost
	depends = boost-libs
	depends = jsoncpp
	depends = tinyxml2
	depends = rhash
	depends = tidy
	depends = glibc
	depends = gcc-libs
	depends = curl
	depends = libboost_filesystem.so
	options = !debug
	source = https://github.com/Sude-/lgogdownloader/releases/download/v3.19/lgogdownloader-3.19.tar.gz
	sha256sums = 0fd3622f1cee4627048aafbbebd17dc38fd3ddb220c979e4a118eeab2cc665d4

pkgname = lgogdownloader
