pkgbase = tape16
	pkgdesc = Destructive tape-style DAW (Appimage)
	pkgver = 0.9.410
	pkgrel = 1
	url = https://emrmusicgroup.com/tape16
	arch = x86_64
	license = custom: proprietary
	depends = fuse2
	depends = jack
	depends = pipewire
	depends = wireplumber
	depends = xorg-xwayland
	depends = zlib
	provides = tape16
	options = !strip
	options = !debug
	source = TAPE-16-v0.9.410-Linux-Release.zip::https://github.com/jackpaterson1/TAPE-16-Public-Releases/releases/download/0.9.410/TAPE-16-v0.9.410-Linux-Release.zip
	sha256sums = d789a0822c815dda10770714f0588710623f472822002a82baddb6a168e4b3ad

pkgname = tape16
