pkgbase = tape16
	pkgdesc = Destructive tape-style DAW (Appimage)
	pkgver = 0.9.420
	pkgrel = 1
	url = https://emrmusicgroup.com/tape16
	arch = x86_64
	license = custom: proprietary
	depends = fuse2
	depends = jack
	depends = pipewire
	depends = wireplumber
	depends = xorg-xwayland
	depends = zlib
	provides = tape16
	options = !strip
	options = !debug
	source = TAPE-16-v0.9.420-Linux-Release.zip::https://github.com/jackpaterson1/TAPE-16-Public-Releases/releases/download/0.9.420/TAPE-16-v0.9.420-Linux-Release.zip
	sha256sums = e6428018e8415eb69972b0bfe04146eee6c41fd5cc8eb032b5530ccd19e5d588

pkgname = tape16
