pkgbase = tape16
	pkgdesc = Destructive tape-style DAW (Appimage)
	pkgver = 0.9.380
	pkgrel = 1
	url = https://emrmusicgroup.com/tape16
	arch = x86_64
	license = custom: proprietary
	depends = fuse2
	depends = jack
	depends = pipewire
	depends = wireplumber
	depends = xorg-xwayland
	depends = zlib
	provides = tape16
	options = !strip
	options = !debug
	source = TAPE-16-v0.9.380-Linux-Release.zip::https://github.com/jackpaterson1/TAPE-16-Public-Releases/releases/download/0.9.380/TAPE-16-v0.9.380-Linux-Release.zip
	sha256sums = 3369eeda300a4f6598f27986f5e77d998f973da0201aa9a5788e486aebda36f7

pkgname = tape16
