pkgbase = openttd-jgrpp-bin
	pkgdesc = Engine for running Transport Tycoon Deluxe with JGR's patch pack
	pkgver = 0.73.3
	pkgrel = 1
	url = https://github.com/JGRennison/OpenTTD-patches
	arch = x86_64
	license = GPL-2.0-only
	depends = fluidsynth
	depends = fontconfig
	depends = hicolor-icon-theme
	depends = lzo
	depends = sdl2-compat
	optdepends = openttd-jgrpp-opengfx: free graphics
	optdepends = openttd-jgrpp-opensfx: free sound set
	optdepends = openttd-jgrpp-openmsx: free music set
	provides = openttd-jgrpp
	conflicts = openttd-jgrpp
	conflicts = openttd
	source = openttd-jgrpp-0.73.3-linux-generic-amd64.tar.xz::https://github.com/JGRennison/OpenTTD-patches/releases/download/jgrpp-0.73.3/openttd-jgrpp-0.73.3-linux-generic-amd64.tar.xz
	source = openttd.sh
	sha256sums = 525ac6d22be4bf302f56711e07522df03cf02425d50ad1baf6b5ed4944561163
	sha256sums = 623e3cbe3c8786fbeef119ffdd22fa660cf1fdd9f8a21ba54c0da4d3db8f6b7a

pkgname = openttd-jgrpp-bin
