[Desktop Entry]
Type=Application
Icon=uad-ng
Name=Universal Android Debloater
Exec=uad-ng
Terminal=false
Hidden=false
Comment=Remove pre-installed apps on your Android device
Keywords=UAD
Categories=Development; Utility;
